<ion-content>
  <yaga-map [lat]="startLat" [lng]="startLng" [zoom]="startZoom">
    <yaga-tile-layer [url]="tileUrl"></yaga-tile-layer>
    <yaga-marker *ngFor="let poi of pois.features" [lat]="poi.geometry.coordinates[1]" [lng]="poi.geometry.coordinates[0]">
      <yaga-icon [iconSize]="parsePoint(poi.properties.iconSize)" [iconAnchor]="parsePoint(poi.properties.iconSize, 2)" [iconUrl]="poi.properties.icon"></yaga-icon>
      <yaga-popup>
        <h4>{{ poi.properties.name }}</h4>
        <p>{{ poi.properties.street }}<br>{{ poi.properties.town }}</p>
        <a ion-button href="{{ poi.properties.link }}" target="blank"><ion-icon name="link"></ion-icon></a>
        <a *ngIf="poi.properties.phone" ion-button href="tel:{{ poi.properties.phone }}"><ion-icon name="call"></ion-icon></a>
      </yaga-popup>
    </yaga-marker>

    <yaga-circle-marker [color]="gradients[time]" [lat]="50.77994533238364" [lng]="7.182925606713299" [radius]="28">
      <yaga-tooltip [direction]="'bottom'">{{ 60 - time }} min</yaga-tooltip>
    </yaga-circle-marker>

    <yaga-attribution-control></yaga-attribution-control>
    <yaga-scale-control [imperial]="true" [metric]="true"></yaga-scale-control>
    <yaga-zoom-control></yaga-zoom-control>
  </yaga-map>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-range disabled min="0" max="60" step="1" [(ngModel)]="time" color="danger">
      <ion-icon range-left small color="primary" name="time"></ion-icon>
      <ion-icon range-right color="danger" name="time"></ion-icon>
    </ion-range>
  </ion-toolbar>
</ion-footer>
